* {
    margin: 0;
    padding: 0;
}

html {
    color: #4b4b4b;
    font-family: bitterw, Serif;
}

#page-wrap {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;

}

@media screen and (max-width: 420px) {
    #page-wrap {
        margin-top: 10px;
        width: 90%;
    }
}

h1 {
    color: #2e2e2e;
    font-size: 36px;
    font-weight: normal;
    font-style: italic;

}

h2 {
    color: #2e2e2e;
    font-size: 36px;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 20px;
}

ul {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
}

.email {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    margin: 0 0 30px 0;
    line-height: 1.5;
    font-weight: normal;
}

.first {

}

.second {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.third {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.fourth {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

a:link, a:visited, a:hover, a:active {
    color: darkgray;
    text-decoration: none;
    font-style: italic;
    padding: 2px;
}

a:link, a:visited, a:hover, a:active {
    color: darkgray;
    text-decoration: none;
    font-style: italic;

}

a:hover, a:active {
    color: #4b4b4b;
    background-color: #feffa4;
}